NEXT_PUBLIC_COLLAB_SERVER_URL=http://localhost:3006
DATABASE_URL=postgresql://USER:PASSWORD@HOST.neon.tech/DB?sslmode=require
AUTH_SECRET=replace-with-openssl-rand-base64-32
AUTH_GOOGLE_ID=replace-with-google-client-id
AUTH_GOOGLE_SECRET=replace-with-google-client-secret
